@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;900&display=swap');
:root {
    --color-one: #AF7EEB;
    --color-two: #E3E9FF;
    --color-three: #22162B;
    --color-four: #8E97B8;
    --color-five: #9760da;
}

.dark-mode:root {
    --color-one: #212529;
    --color-two: #899095;
    --color-three: #7f8a92;
    --color-four: #899095;
    --color-five: #343c44;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-two);
    font-family: 'Maven Pro', sans-serif;
}

#container {
    height: 100vh;
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    transition: height 1s ease-in-out;
}

#container__header {
    padding: 20px 200px;
    width: 45rem;
    background-color: var(--color-one);
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .30);
}

#container__header>h1 {
    color: aliceblue;
    font-weight: 900;
    text-align: center;
}

#container__content {
    background-color: aliceblue;
    width: 45rem;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
}

#content__tasks {
    width: 100%;
    height: 100%;
}

#content__tasks>ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex-wrap: nowrap;
}

#content__tasks>ul>li {
    font-size: 1.5rem;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--color-three);
    position: relative;
}

section>#content__tasks>ul>li {
    list-style: none;
}

section>#content__tasks>ul>li>img {
    width: 25px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    cursor: pointer;
    color: var(--color-four);
}

input[type="checkbox"]+label::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid var(--color-four);
    background-color: aliceblue;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

input[type="checkbox"]:checked+label::before {
    /* content: '\2714';
    font-size: 1rem;
    color: var(--color-one); */
    background-color: var(--color-one);
}

input[type="checkbox"]+label>p {
    display: inline-block;
    text-transform: capitalize;
}

input[type="checkbox"]:checked+label>p {
    text-decoration: line-through;
}

#container__add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content__text {
    width: 45rem;
    height: 50px;
    border: none;
    border-radius: 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .50);
    background-color: aliceblue;
    padding: 0px 0px 0px 10px;
    margin-bottom: 20px;
}

#add {
    padding: 20px;
    width: 15rem;
    background-color: var(--color-one);
    color: aliceblue;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color .2s ease-in-out;
    text-shadow: 1px 1px 1px var(--color-three);
}

#add:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.616), inset 2px 2px 2px 2px;
    transform: translate(3px, 2px);
}

#add:hover {
    background-color: var(--color-five);
}

#content__tasks>ul>li.hide {
    display: none;
}

.icon {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 90%;
    transition: top .5s ease;
}

.icon:first-of-type {
    left: 5%;
}

.icon:nth-of-type(2) {
    left: 10%;
}

.icon:nth-of-type(3) {
    left: 15%;
    transition: all 0.5s ease;
}

.icon:nth-of-type(3):hover {
    transform: scale(1.10);
}

.icon span {
    height: 60px;
    width: 60px;
    display: block;
    background: aliceblue;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    text-align: center;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.icon span i {
    font-size: 30px;
    line-height: 60px;
}

.title {
    background: aliceblue;
    font-size: 20px;
    width: 260px;
    padding: 10px 18px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    border-radius: 25px;
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    /* Basicamente ele tira todo a interação com o mouse */
    transition: all 1.5s cubic-bezier(.68, -0.55, 0.266, 1.55);
    color: #fff;
    z-index: 1;
}

.theme {
    background: aliceblue;
    font-size: 20px;
    width: 260px;
    padding: 10px 18px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    border-radius: 25px;
    position: absolute;
    top: -60px;
    z-index: 0;
}

.icon:hover .title {
    opacity: 1;
    pointer-events: auto;
    top: -70px;
    color: var(--color-three);
}

.theme:before, .title:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: aliceblue;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all .9s cubic-bezier(.68, -0.55, 0.266, 1.55);
}

.icon:hover span i {
    color: var(--color-one);
}

.title a {
    text-decoration: none;
    color: var(--color-one);
}

.icon[data-aberto='true']>.theme {
    opacity: 1;
    visibility: visible;
}

.icon[data-aberto='false']>.theme {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s step-end;
}

@media(max-width:1350px) {
    .icon:first-of-type {
        left: 8%;
    }
    .icon:nth-of-type(2) {
        left: 16%;
    }
    .icon:nth-of-type(3) {
        left: 24%;
    }
}

@media(max-width:800px) {
    #container__header, #container__content, #content__text {
        width: 35rem;
    }
    #content__tasks>ul>li {
        font-size: 1.3rem;
    }
    #add {
        padding: 7px;
        width: 10rem;
        font-size: 1.3em;
    }
    .icon span {
        height: 40px;
        width: 40px;
    }
    .icon span i {
        font-size: 25px;
        line-height: 40px;
    }
    .theme {
        width: 175px;
    }
    input[type="checkbox"]+label::before {
        width: 10px;
        height: 10px;
    }
    .title {
        width: 180px;
        font-size: 15px;
    }
}

@media(max-width:500px) {
    #container__content, #content__text {
        width: 20rem;
    }
    #container>#container__header {
        padding: 5px;
        width: 20rem;
    }
    #container>#container__header h1 {
        font-size: 1.4rem;
    }
    #content__tasks>ul>li {
        font-size: 1rem;
    }
    section>#content__tasks>ul>li>img {
        width: 20px;
    }
    #content__tasks>ul>li {
        padding: 8px 10px;
    }
    .icon{
        margin: 0px;
    }
    .icon:first-of-type {
        left: 10%;
    }
    .icon:nth-of-type(2) {
        left: 40%;
    }
    .icon:nth-of-type(3) {
        left: 70%;
    }
    #darkMode+label{
        font-size: 15px;
        vertical-align: 3px;
    }
    .theme {
        width: 145px;
    }
    .title {
        width: 100px;
        font-size: 10px;
    }
}